name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: 'Test'
        uses: ./.github/actions/flowctl
        with:
          source: hello-world.flow.yaml
